*:focus
  outline: none

body
  margin: 0
  padding: 0

.titleBar
  position: fixed
  width: 100vw
  height: 25px
  -webkit-app-region: drag

.words
  text-align: right


#titlepage
  text-align: center
  #titlepageContens
    display: inline-block
    margin-top: 30%
    h1
      font-weight: normal


#preview
  background-color: #FDFDFD
  overflow: auto
  margin: 0
  display: inline-block
  float: left
  width: 50vw
  height: 100vh

#editor
  float: left
  padding: 5vh 5vw
  width: 40vw
  height: 90vh
  /*remove textarea styles
  border: none
  overflow: auto
  outline: none
  resize: none

  font-family: Roboto Mono
  font-size: 14px
  text-align: left
  background-color: #292c34
  color: white

.page
    position: relative
    padding: 20px
    width: 595px
    height: 842px
    box-shadow: 0 4px 2px -2px gray
    margin-bottom: 5px
    p
        margin: 0
        padding: 0
    .header
        display: flex
        margin: 5px 0
        position: relative
        top: 0

    .footer
        display: flex
        justify-content: space-between
        margin: 5px 0
        width: 595px
        position: absolute
        bottom: 0

    .hfRight
        text-align: right
    .hfCenter
        margin-left: auto
        margin-right: auto
        width: auto
        text-align: center
