*:focus
  outline: none

body
  margin: 0
  padding: 0
  font-family: sans-serif

.titleBar
  position: fixed
  width: 100vw
  height: 25px
  -webkit-app-region: drag

#preview
  overflow: auto
  margin: 0
  display: inline-block
  float: left
  width: 50vw
  height: 100vh

#editor
  float: left
  padding: 5vh 5vw
  width: 40vw
  height: 90vh
  /*remove textarea styles
  border: none
  overflow: auto
  outline: none
  resize: none
  text-align: left
  background-color: #292c34
  color: white  
  
#sidebar
  /* Element now dynamically resizes its own width. */
  height: 100vh;
  position: absolute
  border: none
  padding: none
  overflow: auto
  resize: none
  text-align: left
  background-color: #292c34
  color: white
  transition: 0.5s

#sidebar #sidebar-expand-button
  height: 7vh
  width: 3vw
  border-bottom-right-radius: 4vh
  border-top-right-radius: 4vh
  transition: 0.2s
  background-color: #292c34
  color: #898c84
  
#sidebar .sidebar-input-container
  display: inline-flex
  justify-content: space-evenly
  flex-wrap: nowrap

#sidebar p 
  width: 45vw
  
#sidebar input[type="text"]
  margin-right: 3vw
  position: relative
  left: 1vw
  border: none
  
#sidebar .react-date-picker
  position: relative
  left: 1vw
  
#sidebar .react-date-picker *
  background: white
  border: none
  
.page
    position: relative
    padding: 20px
    width: 595px
    height: 842px
    box-shadow: 0 4px 2px -2px gray
    margin-bottom: 5px
    p
        margin: 0
        padding: 0
    .header
        display: flex
        margin: 5px 0
        position: relative
        top: 0
        border-bottom: 1px solid black

    .footer
        display: flex
        justify-content: space-between
        margin: 5px 0
        width: 595px
        position: absolute
        bottom: 0

    .hfRight
        text-align: right
    .hfCenter
        margin-left: auto
        margin-right: auto
        width: auto
        text-align: center
