// Some Generall Styling

*:focus
  outline: none

body
  margin: 0
  padding: 0
  background-color: white

.titleBar
  position: fixed
  width: 100vw
  height: 25px
  -webkit-app-region: drag

.words
  text-align: right

#titlepage
  text-align: center
  cursor: pointer
  #titlepageContens
    display: inline-block
    margin-top: 30%
    h1
      font-weight: normal

em
  font-style: italic

strong
  font-style: bold

ol
  list-style-type: decimal

ul
  list-style-type: disc
